/**
 * @name background
 */

.fs-background {
  overflow: hidden;
  position: relative;

  &,
  &-container,
  &-media {
    transition: none;
  }

  &-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;

    overflow: hidden;
  }

  &-media {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;

    &-animated {
      transition: opacity 0.5s linear;
    }
  }

  &-media {

    img,
    video,
    iframe {
      width: 100%;
      height: 100%;

      display: block;
      -webkit-user-drag: none;
    }
  }

  &-image,
  &-video {
    width: 100%;
    height: 100%;
  }

  &-image {
    background-position: center;
    background-size: cover;

    img {
      display: none;
    }
  }

  &-video {

    video {
      object-fit: cover;
      object-position: center;
    }
  }

  &-embed&-ready {

    &:after {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
    }

    iframe {
      z-index: 0;
    }
  }
}
