/*

.fs-navigation // base class
.fs-navigation.fs-navigation-enabled // plugin enabled

.fs-navigation-lock // html, body lock state

.fs-navigation-nav // navigation elements
.fs-navigation-nav.fs-navigation-enabled // plugin enabled
.fs-navigation-nav.fs-navigation-open // open state
.fs-navigation-nav.fs-navigation-animated // animated state

.fs-navigation-handle // handle elements
.fs-navigation-handle.fs-navigation-enabled // plugin enabled
.fs-navigation-handle.fs-navigation-open // open state

// Toggle

.fs-navigation-toggle-nav // toggle display
.fs-navigation-toggle-nav.fs-navigation-enabled // plugin enabled
.fs-navigation-toggle-nav.fs-navigation-open // open state

.fs-navigation-toggle-handle // toggle handle
.fs-navigation-toggle-handle.fs-navigation-enabled // plugin enabled
.fs-navigation-toggle-handle.fs-navigation-open // open state
.fs-navigation-toggle-handle.fs-navigation-animated // animated state

// Overlay

.fs-navigation-overlay-nav // overlay display
.fs-navigation-overlay-nav.fs-navigation-enabled // plugin enabled
.fs-navigation-overlay-nav.fs-navigation-open // open state
.fs-navigation-overlay-nav.fs-navigation-animated // animated state
.fs-navigation-overlay-left-nav // left nav
.fs-navigation-overlay-right-nav // right nav

.fs-navigation-overlay-handle // overlay handle
.fs-navigation-overlay-handle.fs-navigation-enabled // plugin enabled
.fs-navigation-overlay-handle.fs-navigation-open // open state

.fs-navigation-overlay-content // overlay content
.fs-navigation-overlay-content:before // overlay content before
.fs-navigation-overlay-content.fs-navigation-enabled // plugin enabled
.fs-navigation-overlay-content.fs-navigation-open // open state
.fs-navigation-overlay-content.fs-navigation-animated // animated state

// Push

.fs-navigation-push-nav // push display
.fs-navigation-push-nav.fs-navigation-enabled // plugin enabled
.fs-navigation-push-nav.fs-navigation-open // open state
.fs-navigation-push-nav.fs-navigation-animated // animated state
.fs-navigation-push-left-nav // left nav
.fs-navigation-push-right-nav // right nav

.fs-navigation-push-handle // push handle
.fs-navigation-push-handle.fs-navigation-enabled // plugin enabled
.fs-navigation-push-handle.fs-navigation-open // open state

.fs-navigation-push-content // push content
.fs-navigation-push-content.fs-navigation-enabled // plugin enabled
.fs-navigation-push-content.fs-navigation-open // open state
.fs-navigation-push-content.fs-navigation-animated // animated state

// Reveal

.fs-navigation-reveal-nav // reveal display
.fs-navigation-reveal-nav.fs-navigation-enabled // plugin enabled
.fs-navigation-reveal-nav.fs-navigation-open // open state
.fs-navigation-reveal-nav.fs-navigation-animated // animated state
.fs-navigation-reveal-left-nav // left nav
.fs-navigation-reveal-right-nav // right nav

.fs-navigation-reveal-handle // handle
.fs-navigation-reveal-handle.fs-navigation-enabled // plugin enabled
.fs-navigation-reveal-handle.fs-navigation-open // open state

.fs-navigation-reveal-content // reveal content
.fs-navigation-reveal-content.fs-navigation-enabled // plugin enabled
.fs-navigation-reveal-content.fs-navigation-open // open state
.fs-navigation-reveal-content.fs-navigation-animated // animated state

*/

@fs-navigation-offscreen-background: #fff;
@fs-navigation-offscreen-width: 270px;
@fs-navigation-offscreen-zindex: 0;

@fs-navigation-offscreen-transition-duration: 0.2s;
@fs-navigation-offscreen-transition-timing: ease;

@fs-navigation-overlay-zindex: 3;

@fs-navigation-overlay-content-background: #fff;
@fs-navigation-overlay-content-opacity: 0.75;
@fs-navigation-overlay-content-zindex: 2;

@fs-navigation-push-zindex: 0;
@fs-navigation-push-content-zindex: 1;

//

.fs-navigation {

  &-enabled {
  // &-handle,
  // &-content {
    --fs-navigation-offscreen-background: @fs-navigation-offscreen-background;
    --fs-navigation-offscreen-width: @fs-navigation-offscreen-width;
    --fs-navigation-offscreen-zindex: @fs-navigation-offscreen-zindex;

    --fs-navigation-offscreen-transition-duration: @fs-navigation-offscreen-transition-duration;
    --fs-navigation-offscreen-transition-timing: @fs-navigation-offscreen-transition-timing;

    --fs-navigation-overlay-zindex: @fs-navigation-overlay-zindex;
    --fs-navigation-overlay-content-background: @fs-navigation-overlay-content-background;
    --fs-navigation-overlay-content-opacity: @fs-navigation-overlay-content-opacity;
    --fs-navigation-overlay-content-zindex: @fs-navigation-overlay-content-zindex;

    --fs-navigation-push-zindex: @fs-navigation-push-zindex;
    --fs-navigation-push-content-zindex: @fs-navigation-push-content-zindex;
  }

  //

  &&-enabled {

  }

  &,
  &:after,
  &:before,
  *,
  *:after,
  *:before {
    box-sizing: border-box;
    transition: none;
    user-select: none !important;
  }

  // Toggle

  &-toggle-nav&-enabled {
    display: none;
  }

  &-toggle-nav&-open {
    display: block;
  }

  &-toggle-handle&-enabled {
    width: 100%;

    cursor: pointer;
    display: block;
  }

  &-toggle-handle&-open {

  }

  // Overlay, Push, Reveal Nav

  &-push-nav&-enabled,
  &-reveal-nav&-enabled,
  &-overlay-nav&-enabled {
    width: var(--fs-navigation-offscreen-width);
    height: 100%;
    height: ~'calc(100% + 60px)';

    position: fixed;
    top: 0;

    background: var(--fs-navigation-offscreen-background);
    display: block;
    overflow: auto;

    -webkit-overflow-scrolling: touch;
  }

  &-push-nav&-enabled,
  &-reveal-nav&-enabled {
    visibility: hidden;
    z-index: var(--fs-navigation-push-zindex);
  }

  // animated

  &-reveal-nav&-animated {
    transition: visibility 0.001s linear var(--fs-navigation-offscreen-transition-duration); // delay when closing
  }

  &-push-nav&-animated,
  &-overlay-nav&-animated {
    transition:
      transform var(--fs-navigation-offscreen-transition-duration) var(--fs-navigation-offscreen-transition-timing),
      visibility 0.001s linear var(--fs-navigation-offscreen-transition-duration); // delay when closing
  }

  // left / right

  &-push-left-nav&-enabled,
  &-reveal-left-nav&-enabled,
  &-overlay-left-nav&-enabled {
    left: 0;
  }

  &-push-right-nav&-enabled,
  &-reveal-right-nav&-enabled,
  &-overlay-right-nav&-enabled {
    right: 0;
  }

  // push / overlay

  &-push-left-nav&-enabled,
  &-overlay-left-nav&-enabled {
    transform: ~'translate3D( calc(var(--fs-navigation-offscreen-width) * -1), 0, 0)';
  }

  &-push-right-nav&-enabled,
  &-overlay-right-nav&-enabled {
    transform: translate3D(var(--fs-navigation-offscreen-width), 0, 0);
  }

  // overlay

  &-overlay-nav&-enabled {
    z-index: var(--fs-navigation-overlay-zindex);
  }

  &-overlay-left-nav&-enabled {

  }

  &-overlay-right-nav&-enabled {

  }

  // open

  &-reveal-nav&-open {
    visibility: visible;
    transition: visibility 0.001s var(--fs-navigation-offscreen-transition-timing);
  }

  &-push-nav&-open,
  &-overlay-nav&-open {
    transform: translate3D(0, 0, 0);
    transition:
      transform var(--fs-navigation-offscreen-transition-duration) var(--fs-navigation-offscreen-transition-timing),
      visibility 0.001s var(--fs-navigation-offscreen-transition-timing);
    visibility: visible;
  }

  // Overlay, Push, Reveal handles

  &-push-handle&-enabled,
  &-overlay-handle&-enabled,
  &-reveal-handle&-enabled {
    cursor: pointer;
    display: block;
  }

  // Overlay content

  &-overlay-content:before {
    width: 100%;
    height: 100%;
    height: ~'calc(100% + 60px)';

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--fs-navigation-overlay-content-zindex);

    background: var(--fs-navigation-overlay-content-background);
    content: '';
    display: block;
    opacity: 0;
    transition:
      opacity var(--fs-navigation-offscreen-transition-duration) var(--fs-navigation-offscreen-transition-timing),
      visibility var(--fs-navigation-offscreen-transition-duration) var(--fs-navigation-offscreen-transition-timing);
    visibility: hidden;
  }

  &-overlay-content&-open:before {
    opacity: var(--fs-navigation-overlay-content-opacity);
    visibility: visible;
  }

  &-reveal-content&-enabled,
  &-push-content&-enabled {
    position: relative;
    z-index: var(--fs-navigation-push-content-zindex);

    display: block;
    overflow: hidden;
    transform: translate3D(0, 0, 0);
  }

  // Reveal, Push Animated

  &-reveal-content&-animated,
  &-push-content&-animated {
    transition:
      transform var(--fs-navigation-offscreen-transition-duration) var(--fs-navigation-offscreen-transition-timing);
  }

  // Reveal, Push - Left, Right Enabled

  &-reveal-left-content&-enabled,
  &-push-left-content&-enabled {

  }

  &-reveal-right-content&-enabled,
  &-push-right-content&-enabled {

  }

  // Reveal, Push Open

  &-reveal-left-content&-open,
  &-push-left-content&-open {
    transform: translateX(var(--fs-navigation-offscreen-width));
  }

  &-reveal-right-content&-open,
  &-push-right-content&-open {
    transform: ~'translateX( calc(var(--fs-navigation-offscreen-width) * -1) )';
  }

  // Handle

  &-handle&-enabled {

  }

  // Lock

  &-lock {
    overflow: hidden !important;
  }
}
