/*

.fs-tabs // tab element
.fs-tabs.fs-tabs-enabled // plugin enabled

.fs-tabs-tab
.fs-tabs-tab.fs-tabs-enabled // plugin enabled
.fs-tabs-tab.fs-tabs-active // tab active
.fs-tabs-tab.fs-tabs-mobile // mobile enabled

.fs-tabs-tab_mobile
.fs-tabs-tab_mobile.fs-tabs-enabled // plugin enabled
.fs-tabs-tab_mobile.fs-tabs-active // tab active
.fs-tabs-tab_mobile.fs-tabs-mobile // mobile enabled

.fs-tabs-content
.fs-tabs-content.fs-tabs-enabled // plugin enabled
.fs-tabs-content.fs-tabs-active // tab active
.fs-tabs-content.fs-tabs-mobile // mobile enabled

 */

.fs-tabs {

  &&-enabled {}

  // Base Tab

  &-tab&-enabled {
    box-sizing: border-box;
    border: none;
    cursor: pointer;
  }

  &-tab&-mobile {
    display: none;
  }

  // Mobile Tab

  &-tab_mobile {
    display: none;
  }

  &-tab_mobile&-mobile {
    display: block;
  }

  // Content

  &-content&-enabled {
    box-sizing: border-box;
    display: none;
  }

  &-content&-active {
    display: block;
  }
}
